In [22]:
import pandas as pd
import numpy as np

## Import dataset using Pandas

In [2]:
data_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data"
df_data = pd.read_csv(data_url, sep='\s+', header = None)

In [3]:
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df_data.columns = ['CRIM','ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 
                   'RAD', 'TAX', 'PTRATIO' ,'B', 'LSTAT', 'MEDV']
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

## Vector exercise using numpy

In [23]:
weight_vector = np.array([[1], [1], [1]])
x_vector = np.array([[3], [4], [5]])
weight_vector

array([[1],
       [1],
       [1]])

In [9]:
weight_vector.T.dot(x_vector)

array([[12]])

In [10]:
df_data['weight_0'] = 1
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2,1

In [18]:
df_data = df_data.drop('MEDV', axis=1)
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [19]:
df_matrix = df_data.as_matrix()
weight_vector = np.random.random_sample((14,1))

/Users/jonghobaeck/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [20]:
df_matrix.shape

(506, 14)

In [21]:
df_matrix.dot(weight_vector)

array([[390.06584391],
       [374.66027984],
       [362.28496229],
       [352.02247367],
       [358.42042033],
       [357.8609889 ],
       [397.66492534],
       [414.72982037],
       [416.86031987],
       [403.26535807],
       [412.56143496],
       [405.67197815],
       [385.89008718],
       [388.96124992],
       [388.55328016],
       [386.08554064],
       [369.30558889],
       [394.60939596],
       [313.7032254 ],
       [389.80208603],
       [398.85555452],
       [400.48888763],
       [407.92734115],
       [410.05636345],
       [405.21498132],
       [345.35113432],
       [391.84982562],
       [349.30414898],
       [399.40265674],
       [391.53744976],
       [388.31515992],
       [394.91705734],
       [307.8389545 ],
       [384.74889094],
       [318.65286209],
       [382.00201565],
       [368.46095913],
       [371.28478541],
       [365.7892222 ],
       [404.02020025],
       [400.39615835],
       [333.83148595],
       [334.27998784],
       [342.29172915],
       [353.38313094],
       [355.63381341],
       [358.16721681],
       [379.34805919],
       [393.5059115 ],
       [371.00707427],
       [378.97141315],
       [382.02494225],
       [365.11382289],
       [367.01994595],
       [483.54882036],
       [409.93928607],
       [434.57616371],
       [426.86366689],
       [383.51728674],
       [395.35734991],
       [404.29104297],
       [405.04351934],
       [402.12507497],
       [394.27122107],
       [371.72351137],
       [428.78108929],
       [437.35866884],
       [389.70861966],
       [399.3440567 ],
       [395.16205013],
       [356.64511374],
       [358.53417819],
       [360.56191864],
       [352.94846215],
       [388.26776537],
       [397.65582829],
       [404.93572277],
       [400.89795627],
       [405.43950421],
       [402.24186053],
       [384.27922201],
       [398.99390665],
       [384.46595631],
       [386.61823079],
       [364.80722236],
       [363.0021155 ],
       [364.90162868],
       [365.71533255],
       [381.71909765],
       [372.39325593],
       [372.65758517],
       [376.10447377],
       [392.05152979],
       [381.8524207 ],
       [403.88645424],
       [348.74760723],
       [377.2640124 ],
       [379.31171037],
       [361.46199658],
       [374.95910257],
       [415.69060898],
       [411.7356708 ],
       [216.55345046],
       [420.77355119],
       [419.74089675],
       [425.61366326],
       [426.311957  ],
       [415.78115325],
       [424.2229526 ],
       [421.672284  ],
       [407.06535998],
       [428.10008366],
       [435.50795794],
       [438.57723703],
       [424.59267034],
       [402.30318689],
       [424.13081728],
       [427.553599  ],
       [392.21743993],
       [420.98634061],
       [358.11590378],
       [356.5231231 ],
       [362.59039953],
       [364.27488214],
       [364.19896935],
       [363.12142065],
       [358.10018892],
       [441.12301274],
       [444.52058787],
       [445.03362956],
       [441.69598583],
       [442.97762906],
       [434.81456214],
       [437.76606033],
       [362.49625481],
       [444.25282653],
       [431.62037961],
       [442.12839223],
       [444.74283007],
       [446.20625987],
       [442.61456215],
       [457.96843306],
       [440.66453182],
       [440.39956131],
       [439.81183146],
       [300.46117698],
       [290.21824739],
       [435.59249133],
       [412.56129361],
       [405.81763238],
       [414.19315651],
       [394.62300422],
       [390.48501773],
       [346.92134366],
       [382.76038776],
       [234.34721331],
       [237.45134407],
       [402.06041812],
       [397.86800168],
       [405.52544431],
       [385.94847516],
       [405.06034773],
       [418.93166435],
       [417.59277235],
       [424.92750032],
       [328.3366844 ],
       [406.11495755],
       [315.57245197],
       [365.33444499],
       [385.94197685],
       [362.80535978],
       [398.10501908],
       [394.67993896],
       [388.81680367],
       [381.51660065],
       [364.04319207],
       [373.98684837],
       [383.09679992],
       [381.37916734],
       [349.70455939],
       [360.65327949],
       [353.5185526 ],
       [360.98343111],
       [364.3131867 ],
       [363.41127885],
       [352.75895609],
       [345.48812769],
       [427.9407268 ],
       [415.25560554],
       [428.72044642],
       [410.53849581],
       [421.20558303],
       [419.02084477],
       [388.89272203],
       [381.37886761],
       [407.83908457],
       [429.34729842],
       [406.70305649],
       [429.73736975],
       [456.80989879],
       [448.42767614],
       [438.97341877],
       [429.18915977],
       [410.48545714],
       [408.06691699],
       [364.73121939],
       [375.7636212 ],
       [384.62910463],
       [372.87317939],
       [403.74235742],
       [394.63645712],
       [398.77968836],
       [377.39221745],
       [360.99386791],
       [342.22472662],
       [369.77073716],
       [376.0854318 ],
       [384.568784  ],
       [396.22678068],
       [389.21541593],
       [395.2245724 ],
       [406.0427051 ],
       [390.77586097],
       [393.46441581],
       [383.35667396],
       [384.09566392],
       [387.37148203],
       [376.93074506],
       [354.63270171],
       [357.42100985],
       [379.41258101],
       [377.96629729],
       [381.56209299],
       [376.71831333],
       [366.26845646],
       [375.20310555],
       [388.98064694],
       [384.479987  ],
       [375.7440004 ],
       [388.40228396],
       [400.69980917],
       [407.15412532],
       [388.48789239],
       [368.26009844],
       [403.60100193],
       [415.53025964],
       [396.78960032],
       [405.77518938],
       [392.81170239],
       [390.66540957],
       [389.67707864],
       [374.6074732 ],
       [380.2552895 ],
       [388.7124332 ],
       [427.44472034],
       [425.52348289],
       [409.47106544],
       [387.40684865],
       [389.50633715],
       [394.03251918],
       [389.49870304],
       [388.3183045 ],
       [387.8862614 ],
       [396.25225048],
       [389.15844529],
       [381.60669628],
       [388.76134439],
       [378.00068059],
       [372.79559024],
       [377.47733859],
       [367.42071312],
       [358.38588989],
       [374.25396224],
       [370.06165137],
       [385.35940577],
       [388.17207695],
       [389.19707803],
       [381.98335008],
       [386.55336199],
       [358.49917678],
       [365.01455837],
       [357.79364227],
       [353.38377458],
       [396.90102178],
       [422.6156307 ],
       [406.22981212],
       [380.80798215],
       [406.30475212],
       [412.21886361],
       [389.17864807],
       [409.64084341],
       [409.94013748],
       [408.67632543],
       [363.96684425],
       [374.35994669],
       [367.92574839],
       [373.69741958],
       [384.37498252],
       [410.30478549],
       [408.75190704],
       [436.0127285 ],
       [406.95930664],
       [390.32068769],
       [392.05480372],
       [375.74040012],
       [382.77741379],
       [389.07151602],
       [388.81951146],
       [391.33049124],
       [391.66947886],
       [351.20510789],
       [380.47006756],
       [398.00715669],
       [391.04171634],
       [395.58127344],
       [393.31576577],
       [396.68161263],
       [394.35405209],
       [388.11610729],
       [387.20837416],
       [377.88911836],
       [378.42355054],
       [377.31524937],
       [385.59655653],
       [372.68768851],
       [360.33509254],
       [368.58770188],
       [378.56707008],
       [395.50427627],
       [386.1972677 ],
       [389.19415308],
       [395.74548482],
       [371.07017385],
       [350.71389749],
       [351.37697585],
       [354.96803932],
       [360.28387721],
       [364.82231617],
       [355.39112664],
       [359.79908167],
       [364.5603859 ],
       [393.28656042],
       [408.97845749],
       [438.49506932],
       [420.70301249],
       [388.42387404],
       [378.17963323],
       [440.98380988],
       [416.71184343],
       [406.35471909],
       [414.39034219],
       [429.81810791],
       [437.62139001],
       [398.10402941],
       [429.44021785],
       [422.86587436],
       [510.1594298 ],
       [508.55999717],
       [508.21143852],
       [503.42319589],
       [493.10942973],
       [482.8248576 ],
       [500.10135793],
       [484.55409174],
       [477.96414614],
       [478.04075334],
       [460.0167136 ],
       [356.52254048],
       [494.14394054],
       [495.76818978],
       [506.9264672 ],
       [497.43004575],
       [481.2676544 ],
       [534.56884321],
       [543.39936514],
       [529.26723464],
       [508.34909562],
       [525.03927418],
       [538.86285381],
       [531.36578422],
       [596.69792188],
       [530.84336564],
       [525.79959455],
       [525.25224575],
       [467.67776798],
       [537.08113153],
       [543.11090034],
       [540.03526044],
       [520.15951593],
       [522.49722376],
       [516.84769154],
       [501.04110527],
       [528.1309106 ],
       [517.25258702],
       [523.242299  ],
       [518.10800389],
       [518.77503598],
       [519.2148387 ],
       [558.72964839],
       [485.74185933],
       [543.61726153],
       [529.00100665],
       [511.59499773],
       [536.78479674],
       [512.07989807],
       [575.02619805],
       [519.1153373 ],
       [480.2756259 ],
       [473.79530583],
       [393.454778  ],
       [311.73070287],
       [304.00219554],
       [312.295619  ],
       [426.1649856 ],
       [377.32519739],
       [308.36370685],
       [292.24270113],
       [371.76820148],
       [349.52934689],
       [302.40535645],
       [473.8582815 ],
       [469.06783176],
       [451.92617318],
       [272.43732194],
       [264.77323721],
       [288.79359787],
       [276.15618471],
       [304.00132465],
       [327.62565611],
       [315.71653788],
       [321.02498627],
       [326.09715619],
       [320.05010934],
       [328.62358277],
       [338.84954344],
       [347.44071216],
       [295.10525735],
       [292.5129347 ],
       [328.4475011 ],
       [523.341599  ],
       [531.2889098 ],
       [516.46697901],
       [517.56121036],
       [517.82604413],
       [431.01703443],
       [305.72156997],
       [469.26679785],
       [515.92056187],
       [522.48358268],
       [463.70612688],
       [270.31539847],
       [492.6452375 ],
       [507.87577052],
       [508.46663028],
       [278.49352584],
       [297.95902321],
       [273.52562982],
       [268.34091565],
       [436.46170925],
       [512.33353733],
       [425.75300475],
       [507.53514092],
       [511.32853578],
       [508.93688245],
       [505.15533917],
       [455.37842136],
       [277.43937737],
       [477.27462871],
       [500.33596344],
       [507.49270175],
       [510.9819646 ],
       [510.03790116],
       [503.35362202],
       [488.27196349],
       [491.87746931],
       [464.34348537],
       [516.26778523],
       [501.78681112],
       [511.70076782],
       [511.20077378],
       [501.41788944],
       [501.1260446 ],
       [503.07842474],
       [486.36696444],
       [474.61730207],
       [489.43872532],
       [507.35196237],
       [490.77168478],
       [516.13809719],
       [490.43599072],
       [478.03735875],
       [515.7091492 ],
       [510.9681934 ],
       [408.91611254],
       [405.80715255],
       [400.84099274],
       [422.4600393 ],
       [417.11846298],
       [414.17006999],
       [417.75614031],
       [420.71825019],
       [378.9635532 ],
       [384.168695  ],
       [387.8877709 ],
       [385.6771439 ],
       [384.99301934]])